body {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  "header header"
  "navBar appContent";
  grid-auto-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
}